main h1 {
  text-align: center;
  
}

.slider {
  width: 50%;
  margin: 0 auto 2rem auto;
}

.banner {
  width: 700px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header, footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

header nav a, footer p {
  color: #61dafb;
  text-decoration: none;
  margin: 0 1rem;
}

header nav a:hover {
  text-decoration: underline;
}

main {
  padding: 2rem;
}

h1 {
  color: #333;
  text-align: center;

} 

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.product-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1rem;
  text-align: center;
  width: calc(33.333% - 2rem);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.product-card h2 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.product-card p {
  color: #666;
  margin-bottom: 1rem;
}

.product-card a {
  background-color: #61dafb;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
}

.product-card a:hover {
  background-color: #21a1f1;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form div {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 0.5rem;
}

form input, form textarea {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

form button {
  background-color: #61dafb;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #21a1f1;
}
